{% extends 'base.html.twig' %}


{% block body %}

    <h2>index article</h2>
    <a href="{{ path('app_article_index', {'option': 'updatedAt'}) }}">Récent</a>
    <a href="{{ path('app_article_index', {'option': 'hitcount'}) }}">vue</a>
    <p>trier par :</p>
    <FORM>
        <SELECT name="option" size="1">
            <OPTION><a href="{{ path('app_article_index', {'option': 'updatedAt'}) }}">Récent</a></OPTION>
            <OPTION ><a href="{{ path('app_article_index', {'option': 'hitcount'}) }}">vue</a></OPTION>
        </SELECT>
    </FORM>

    <ul>
        {% for article in articles %}
            <li>

                    <h6>{{ article.title}}</h6>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
